<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Ex. Pizza">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. Pizza">
      </mat-form-field>
      <button mat-raised-button (click)="goToDashboard()">Login</button>
    </div>
  </mat-card>
</div>